.container {
  background-color: aqua;
  width: 50%;
  margin: 0 auto;
}

.steps {
  display: flex;
  justify-content: space-around;

  padding: 3px;
}
.container {
  width: 50%;
  margin: 0 auto;
  position: relative;
}
.steps h1 {
  background-color: blanchedalmond;
  padding: 3px;
  cursor: pointer;
  border-radius: 100%;
  padding: 5px;
}
.active {
  background-color: rgb(77, 98, 201) !important;
}
.text {
  text-align: center;
}
.btn {
  background-color: blue;
  color: white;
  padding: 10px;
}
.btns {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  padding: 10px;
}
.close {
  position: absolute; /* Position the button absolutely within the container */
  top: 5px; /* Distance from the top */
  right: 5px; /* Distance from the right */
  padding: 5px 10px; /* Example padding */
  background-color: #04aa6d; /* Example background color */
  color: white; /* Example text color */
  border: none; /* Remove border */
  border-radius: 5px; /* Example border radius */
  cursor: pointer; /* Pointer cursor on hover */
}
